/*
Copyright 2020 Stefanie Wiegand

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

/* The toggle buttons for the categories */
.runButton {
    background-color: #444;
    color: #eee;
    border-radius: 5px;
    padding: 12px;
    border: 1px solid #ccc;
}

.runButton:hover, .runButton:focus {
    background-color: #666;
    color: #fff;
}


